# Node dependencies
node_modules/
.npm/

# Next.js build output
.next/
out/

# NestJS build output
dist/

# Logs & temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.tmp/
temp/
project.tar.gz

# Environment
.env
.env.local
.env.production

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
